@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Shantell+Sans:ital,wght@1,300&family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Noto+Sans+JP:wght@300&family=Shantell+Sans:ital,wght@1,300&family=Tilt+Prism&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --margins: 20px;
    --font-size: clamp(6px, 10px, 14px);
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-image: url(/wallpapersden.com_cyberpunk-edgerunners-season-1-team-hd_1920x1080.jpg);
    background-repeat: no-repeat;
}

#main-container {
    display: flex;
}

#left-panel, #right-panel {
    height: 100vh;
}

#left-panel {
    width: 40vw;
}

#right-panel {
    display: flex;
    flex-flow: column;
    width: 60vw;
    background-color: rgba(1, 17, 26, 0.8);
}

.texts1 {
    flex-basis: 37vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.texts2 {
    height: 26vh;
}

.texts3 {
    height: 37vh;
}

.texts1 > h1 {
    font-size: clamp(16px, 24px, 32px);
    margin: 20px;
    font-family: 'Chakra Petch', sans-serif;
}

.texts2 {
    display: flex;
    flex-flow: row;
    gap: 17%;
    /* margin: var(--margins); */
}

h2 {
    margin: var(--margins);
    font-family: 'Chakra Petch', sans-serif;
}

.first-row, .second-row {
    width: 15%;
}

.texts3 button {
    margin: var(--margins);
}

.texts3 p {
    margin: var(--margins);
}

.texts2 label {
    
}

.first-row, .second-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: var(--margins);
}

.first-row label, .second-row label {
    font-size: var(--font-size);
}

.texts2 {
    box-shadow: 2px 2px 6px rgb(72, 59, 245);
    border-radius: 2px 2px 1px 1px;
}

button {
    font-size: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(2, 29, 80);
    color: rgb(208, 207, 211);
    font-weight: 800;
    border: none;
}


#left-panel img {
    position: relative;
    top: 1.5%;
    left: 28%;
    width: 45%;
    border-radius: 25px 50px 30px;
}

.img-container {
    background-color: rgba(1, 17, 26, 0.5);
}

.texts1 > h1 {
    color: rgb(140, 113, 161);
    font-size: clamp(18px, 28px, 60px);
}

h2, label {
    color:rgb(208, 207, 211);
}

p, a {
    color: rgb(223, 224, 230);
}